.experience__work h2,
.experience__study h2 {
  color: var(--primary-color);
  padding-top: 30px;
}

.experience__container {
  padding: 50px 0;
}

.experience-layout-row {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
  width: fit-content;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  z-index: 10;
}

.experience-layout-row.experience-layout-left {
  margin-right: auto;
}

.experience-layout-row.experience-layout-right {
  margin-left: auto;
}

.experience-layout-row.experience-layout-left .experience-image {
  order: 0;
  margin-right: 25px;
}

.experience-layout-row.experience-layout-left .experience-content {
  order: 1;
}

.experience-layout-row.experience-layout-right .experience-image {
  order: 1;
  margin-left: 25px;
}

.experience-layout-row.experience-layout-right .experience-content {
  order: 0;
}

.experience-image img {
  border-radius: 50%;
  width: 100%;
  width: 150px;
}

.experience-content {
  max-width: 500px;
  text-align: justify;
}

.experience__separator {
  margin: 30px auto 30px auto;
  border-color: var(--primary-color);
}

connection {
  border: 5px solid var(--primary-color);
  border-radius: 50px;
  z-index: 1;
  display: non;
}

@media (max-width: 768px) {
  .experience-layout-row {
    flex-direction: column;
  }

  .experience-image {
    margin: 15px 0!important;
  }
}
