.container__mensaje{
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
  width: auto;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  z-index: 10;
}
