/* External */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

/* Imports */
@import url("./colors.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./projects.css");
@import url("./contact.css");
@import url("./experience.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

:focus {
  outline: none;
}

#container__all {
  position: relative;
  right: 0;
  transition: all 300ms;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container__content {
  padding-top: 100px;
}